<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.</h3>

<p>Massa enim nec dui nunc. Ac ut consequat semper viverra nam libero
justo laoreet. Aliquet bibendum enim facilisis gravida neque convallis a cras. Pharetra vel turpis
nunc eget. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.
Bibendum at varius vel pharetra vel turpis nunc. Molestie nunc non blandit massa enim nec.
Ullamcorper a lacus vestibulum sed arcu non. Porta non pulvinar neque laoreet suspendisse
interdum consectetur libero id. Etiam tempor orci eu lobortis. Nibh mauris cursus mattis molestie
a iaculis at erat. Diam sit amet nisl suscipit adipiscing. Orci ac auctor augue mauris augue neque
    gravida in fermentum. Non odio euismod lacinia at quis.</p>

<p align="center"><img id="Рисунок 1" src="framework-flask-intro/images001.jpg"></p>

<p>Nisl rhoncus mattis rhoncus urna. Magnis dis parturient montes nascetur ridiculus. Libero volutpat
sed cras ornare arcu dui vivamus arcu. Tellus integer feugiat scelerisque varius morbi enim nunc
faucibus. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Lacus sed viverra
tellus in hac habitasse platea dictumst vestibulum. Proin sagittis nisl rhoncus mattis rhoncus
urna neque viverra. Purus ut faucibus pulvinar elementum integer enim. Facilisis leo vel fringilla
est ullamcorper eget. Faucibus a pellentesque sit amet porttitor. Vel elit scelerisque mauris
pellentesque pulvinar pellentesque. Odio pellentesque diam volutpat commodo. At lectus urna duis
convallis convallis tellus. Aliquam etiam erat velit scelerisque in dictum non consectetur.
    Pulvinar neque laoreet suspendisse interdum consectetur. Penatibus et magnis dis parturient.</p>

<p align="center"><img id="Рисунок 2" src="framework-flask-intro/images002.jpg"></p>

<p>Felis donec et odio pellentesque. At erat pellentesque adipiscing commodo elit at imperdiet dui
accumsan. Venenatis urna cursus eget nunc scelerisque viverra. Fermentum dui faucibus in ornare
quam. Integer quis auctor elit sed vulputate mi sit amet mauris. Tincidunt ornare massa eget
egestas. Mauris pharetra et ultrices neque ornare aenean. Enim diam vulputate ut pharetra sit.
Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Habitant morbi tristique senectus et
    netus et malesuada fames ac. Risus in hendrerit gravida rutrum quisque.</p>

<p align="center"><img id="Рисунок 3" src="framework-flask-intro/images003.jpg"></p>

<p>Et ligula ullamcorper malesuada proin libero nunc. Aenean et tortor at risus viverra. Viverra
nibh cras pulvinar mattis nunc sed. Etiam tempor orci eu lobortis. Egestas fringilla phasellus
faucibus scelerisque. Varius duis at consectetur lorem donec massa sapien faucibus. Nisl purus
in mollis nunc sed id. Massa massa ultricies mi quis. Sed lectus vestibulum mattis ullamcorper.
Sed ullamcorper morbi tincidunt ornare massa. Sed ullamcorper morbi tincidunt ornare massa.
Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Enim nunc faucibus a
pellentesque sit amet porttitor eget. Diam maecenas sed enim ut sem viverra aliquet. Nec
tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Sed lectus vestibulum mattis
    ullamcorper velit sed.</p>

<p align="center"><img id="Рисунок 4" src="framework-flask-intro/images004.jpg"></p>

<p>Gravida arcu ac tortor dignissim. Netus et malesuada fames ac turpis egestas maecenas. Vitae
congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. At risus viverra adipiscing
at in tellus integer feugiat. Adipiscing enim eu turpis egestas. Duis at consectetur lorem donec
massa. Malesuada fames ac turpis egestas. Diam volutpat commodo sed egestas egestas fringilla
phasellus. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Faucibus scelerisque
eleifend donec pretium vulputate sapien nec sagittis aliquam. Ultricies leo integer malesuada
nunc vel. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.
Id aliquet lectus proin nibh nisl condimentum id. Sit amet cursus sit amet dictum sit amet.
    Vehicula ipsum a arcu cursus vitae.</p>

